/* reset borders from individual settings to zero */

* {
    margin: 0 auto;
    padding: 0 auto;
    border: none;
}


/* provide fonts */

@font-face {
    font-family: 'Rimbo';
    src: url('fonts/Rimbo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Gubia';
    src: url('fonts/Gubia-Bold-Alternate.otf') format('opentype');
}


/* set general font and background colour */

html,
body {
    height: 100%;
    background-color: #E23D28;
    color: #EFB22D;
    font-family: Rimbo, Arial, sans-serif;
}


/* sign up and login form */

.register-signin-form {
    font-family: Gubia;
    background-color: #EFB22D;
    color: #E23D28;
}